**/.DS_Store
__pycache__/
*.log
.idea/
*.sub
condor_logs/
*.out
test_*sh
*temp*
!*templ*
scratch/
.venv*/
venv*/
venv-*/
reef*/
.snakemake/
config/
*.pyc
outputs/
*.env
*.parquet
*.svs
*.h5
*.bmp
*.npy
*.pkl
*.pt
*.egg-info/
docker-example-output/
*-output/
.git/
.github/
.gitignore
.pytest_cache/
build/
test_paladin
*.md
!README.md
docs/
mussel-docker
test-docker-wrapper.sh
