**/.DS_Store
__pycache__/
*.log
/.idea/misc.xml
/.idea/modules.xml
/.idea/Mussel.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
*.sub
*.txt
condor_logs/
*.out
test_*sh
*temp*
!*templ*
scratch/
.venv/
venv/
reef/
.snakemake/
config/config.yaml
*.pyc
outputs/
